<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookJoin</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>BookJoinPublisher</h1>
    <table>
        <tr>
            <th>Publisher</th>
            <th>Address</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <% for(let i=0; i < publisher.length; i++) { %>
            <% for(let j = 0; j < publisher[i].books.length; j++) { %>
        <tr>
            <td><%= publisher[i].publisher %></td>
            <td><%= publisher[i].address %></td>
            <td><%= publisher[i].books[j].title %></td>
            <td><%= publisher[i].books[j].author %></td>
        </tr>
        <% } %>

        <% } %> 
    </table>
    <a href="/">Back To Books</a>
    <a href="/create">Create New Book</a><br>
    <% if(data.username) { %>
        <p> Welcome back <%= data.username %></p>
        <a href="/logout">Log out</a>
    <% } else { %>
        <a href="/login">Login Here</a>
    <% } %>
</body>
</html>